<div class="container">
<div class="errors-explanation">
<%=form_errors(@diagnosis)%>
</div>

<%= form_for @diagnosis do |f| %>
<%= f.hidden_field :query_id %>
<%= f.text_area :comment %>
<%= f.submit %>
<%end%>
</div>