<% if @diagnosis.errors.any? %>
<div id= "error_explanation">
    <% @diagnosis.errors.full_messages.each do |message| %>
    <%= message %><br>
<%end%>
<%end%>
</div>

<%= form_for @diagnosis do |f| %>
<%= f.hidden_field :query_id %>
<%= f.text_area :comment %>
<%= f.submit %>
<%end%>